@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is just test application for testing my skills in ASP.NET CORE, which, I must admit, are very poor.</p>
<p>I made this app without any purpose, just because I can!</p>
